.header {
  padding: 50px;
}

.login {
  padding: 50px;
  float: right;
}

.photo img {
  width: 100%;
}

.category {
  background-color: rgb(78, 189, 229);
}

.category h1 {
  text-align: center;
  color: rgb(255, 225, 0);
  padding: 50px;
}

.category img {
  padding: 30px;
}

.experience {
  position: relative;
}
.experience img {
  position: absolute;
  width: 100%
}

.bodytext p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  padding: 30px;
  font-size: 12px;
}

.bodytext img {
  justify-content: center;
}

.phrase img {
  position: absolute;
  top: 75%;
	left: 25%;
}

.quiz {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px;
  padding: 30px;
  column-count: 2;
  top: 30%;
	left: 30%;

}
